@media print {
#my_location {
        width: 50px;
        height: 50px;
        margin: 0;
   }
   #directions-panel {
       float: none;
       width: auto;
  }
}
.ui-listview sup {
    font-size: 0.6em;
    color: #cc0000;
}

#mainPager * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Arrow only buttons in the header. */

#mainPager .ui-header .ui-btn {
    background: none;
    border: none;
    top: 9px;
}
#mainPager .ui-header .ui-btn-inner {
    border: none;
}
/* Content styling. */
.ui-panel-inner{
  padding: 0px;
}
#left-panel{
  background-color: #F6F6F6;
}
dl {
    font-family: "Times New Roman", Times, serif;
    padding: 1em;
}
dt {
    font-size: 2em;
    font-weight: bold;
}
dt span {
    font-size: .5em;
    color: #777;
    margin-left: .5em;
}
dd {
    font-size: 1.25em;
    margin: 1em 0 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
.back-btn {
    float: right;
    margin: 0 2em 1em 0;
}